---
import CustomTitle from "../components/CustomTitle.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About Page">
		<h1>About</h1>
		<CustomTitle title="Otro título"/>
</MainLayout>
<!-- is:global 'Aplica los estilos a todos los componentes estilados de la página' -->
<style>
	h1 {
		color: red;
	}
</style>
